SUPABASE_PROJECT_REF=mjmervrlzqhdflyccucw
SUPABASE_JDBC_URL=jdbc:postgresql://aws-1-us-west-2.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_DB_USER=postgres.mjmervrlzqhdflyccucw
SUPABASE_DB_PASSWORD=TU_PASSWORD_AQUI
